# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store

# dir
node_modules/
.umi/
.umi-production/
.umi-test/
dist/

#file
.swc
.env.local
.umirc.local.ts
.config.local.ts
# yarn.lock
npm-debug.log*
package-lock.json

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.tar
*.tar.gz
*.tgz

